---
import BaseLayout from './BaseLayout.astro'
import Library from '../components/library/Library'
import Modal from '../components/modal/Modal'
import ToastHandler from '../components/toast/ToastHandler'
import ExposeSdkProps from '../globals/ExposeSdkProps'
import type { Locals } from '../middleware';

interface Props {
  title: string;
}

const { title } = Astro.props;
const navLinks = [
  { href: '/home', text: 'Home' },
  { href: '/currently-playing', text: 'Currently Playing' },
  // { href: '/user-info-test', text: 'user json dump' },
  // { href: '/playlist-tagging-test', text: 'tagging test' },
  { href: '/logout', text: 'Log Out' },
];

const url = new URL(Astro.request.url);

const sdkProps = (Astro.locals as Locals).sdkProps;
const playlistCount = parseInt(Astro.cookies.get("playlistCount")?.value ?? "") || 0;

const expires_in = Astro.cookies.get("expires_in")?.value;
const timeLeft = expires_in ? Math.max(parseInt(expires_in) - (new Date()).getTime() - 3 * 60 * 1000, 0): 0;
---
<BaseLayout title={title}>
  <div class="p-2 bg-zinc-950 h-full flex flex-row gap-2">
    <aside class="w-96 flex flex-col gap-2">
      <nav class="p-4 bg-zinc-900 rounded-lg">
        <ul>
          {navLinks.map(navLink => (
            <li class="text-lg transition-colors duration-150 ease-in-out active:text-white hover:text-white" class:list={[url.pathname == navLink.href ? "text-white" : "text-gray-400"]}>
              <a href={navLink.href}>{navLink.text}</a>
            </li>
          ))}
        </ul>
      </nav>
      <div class="p-4 flex-grow overflow-y-hidden bg-zinc-900 rounded-lg">
        <Library sdkProps={sdkProps} playlistCount={playlistCount} client:load/>
      </div>
    </aside>
    <slot />
  </div>
  <script define:vars={{timeLeft}}>
    console.log("Will reauth in", (timeLeft / 1000 / 60).toFixed(2), "minutes")
    setTimeout(() => {
      window.location.reload();
    }, timeLeft);
  </script>
  <Modal client:only />
  <ToastHandler client:only />
  <ExposeSdkProps sdkProps={sdkProps} client:only />
</BaseLayout>